@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Oswald&display=swap');

/* ----------------------------------------Navigation Link*/
.navbar-dark a.navbar-brand {
    color: white;
    font-family: 'Oswald', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-toggler {
    border-color: white;
}

a.nav-link {
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
    border-style: solid;
    border-color: #FFA630;
    float: right;
}

a.nav-link:hover {
    background-color: #FFA630;
    transition: .3s all ease-in-out;
    border-radius: 0.5rem;
}

.nav-item {
    padding-right: 1.5rem;
}

.navbar .nav-item {
    text-transform: uppercase;
}

.dropdown-menu {
    background-color: #028090;
}

a.dropdown-item {
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

/* ----------------------------------------Jumbotron*/
.jumbotron {
    background-color: transparent;
}

/* ----------------------------------------Font*/
.callout {
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    text-align: center;
    color: #2F1B25;
    font-weight: bold;
    font-size: 3.0rem;
    padding-bottom: 5rem;
}

.description-one {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 2.0rem;
}

/* ----------------------------------------Line Break*/
.first-line-break {
    margin-top: 3.0rem;
    margin-bottom: 3.0rem;
}

.second-line-break,
.third-line-break,
.forth-line-break,
.register-line-break,
.module-line-break,
.syllabus-line-break {
    opacity: 0;
}


.affiliated-company {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #fff;
}

/* ----------------------------------------Images*/
.rig-image {
    background: url("../images/rig.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-logo img {
    height: 6.25rem;
    width: 7.5rem;
    border-style: solid;
    border-color: white;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.company-logo {
    text-align: center;
}

.module>h2 {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.card {
    margin: 0 auto;
}

.card-body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

/* ----------------------------------------Footer*/
footer {
    padding-top: 5rem;
    background-color: #134f5c;
}

.contact-title {
    text-align: center;
    color: #ffffff;
}

.social-title {
    text-align: center;
    color: #ffffff;
}

.social-networks li {
    text-align: center;
    color: #ffffff;
}

.social-networks i {
    color: #ffffff;
}

.social-networks {
    padding: 0;
    display: flex;
    justify-content: center;
}

ul.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
    margin: 0.5rem;
    padding: 0.5rem;
}

.social-networks i {
    font-size: 2rem;
}

/* ----------------------------------------Reason*/
.reason-container {
    background: url("../images/student.jpg");
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#reason-one,
#reason-two,
#reason-three {
    height: 18rem;
    width: 18rem;
}

.reason-description {
    font-size: 1.1rem;
}

/* ----------------------------------------Sign Up*/
.sign_up-container {
    background: url("../images/sign_up.jpg");
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form-control {
    width: 100%;
}

.form-group {
    text-align: center;
}

input#fname.form-control,
input#lname.form-control,
input#email.form-control,
input#number.form-control,
input#uname.form-control,
input#password.form-control {
    width: 70%;
    margin-left: 15%;
}

label {
    margin: 0;
}

button.btn.btn-success {
    border-style: ridge;
    padding: 1.5rem;
    background-color: #1de57e;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
}

button.btn.btn-success:hover {
    transition: .3s all ease-in-out;
    background-color: #FFA630;
}

.sign-up-button {
    text-align: center;
}

/* ----------------------------------------basin-module*/
.basin-module-container {
    background: url("../images/basin-analysis-module.jpg");
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.basin-module {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    padding-top: 5rem;
    font-weight: bold;
}

.syllabus-title h2 {
    padding: 1rem 1rem;
}

article {
    padding: 1rem 1rem;
}

/* ----------------------------------------reservoir-module*/
.reservoir-module-container {
    background: url("../images/reservoir-engineer-module.jpg");
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.reservoir-module {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    padding-top: 5rem;
    font-weight: bold;
}

.syllabus-title h2 {
    padding: 1rem 1rem;
}

article {
    padding: 1rem 1rem;
}

/* ----------------------------------------seismic-interpretation-module*/
.seismic-interpretation-module-container {
    background: url("../images/seismic-interpretation-module.jpg");
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.seismic-interpretation-module {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    padding-top: 5rem;
    font-weight: bold;
}

.syllabus-title h2 {
    padding: 1rem 1rem;
}

article {
    padding: 1rem 1rem;
}