@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Oswald&display=swap');

/** over ride bootstrap style**/
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.bg-dark {
    background-color: #028090 !important;
}

/** navigation link**/

.navbar-dark .navbar-toggler {
    border-color: white;
}

a.nav-link {
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
    border-style: solid;
    border-color: #FFA630;
    float: right;

}

/** navigation link: hover**/
a.nav-link:hover {
    background-color: #FFA630;
    transition: .3s all ease-in-out;
    border-radius: 0.5rem;
}

.nav-item {
    padding-right: 25px;
}

.navbar .nav-item {
    text-transform: uppercase;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

/** main image**/
.rig-image {
    background: url("../images/rig.jpg") no-repeat center fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
}

/** jumbotron section**/
.jumbotron {
    background-color: transparent;
}

.callout {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.description-one {
    font-family: 'Roboto'sans-serif;
    text-align: center;
}

.first-line-break {
    margin-top: 3.0rem;
    margin-bottom: 3.0rem;
}

.second-line-break {
    opacity: 0;
}

/** affiliated companies font**/
.affiliated-company {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/** affiliated companies image**/
.company-logo img {
    height: 100px;
    width: 120px;
    border-style: solid;
    border-color: white;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.company-logo {
    text-align: center;
}

/** modules images**/
.module>h1 {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.card-body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}