@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Oswald&display=swap');

/** navigation link**/
.navbar {
    background-color: #028090;
}

a.nav-link {
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
    border-style: solid;
    border-color: #FFA630;
}

a.nav-link:hover {
    background-color: #FFA630;
    transition: .3s all ease-in-out;
    border-radius: 0.5rem;
}

.nav-item {
    padding-right: 25px;
}

.navbar .nav-item {
    text-transform: uppercase;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

/** main image**/
#rig-image {
    background: url("../images/rig.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}